* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topnav {
  overflow: hidden;
  background-color: #0aec95 !important;
}
.title a {
  float: right;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(78, 70, 70);
  text-decoration: none;
  padding: 1rem;
  margin-right: 9rem;
}

.title i {
  float: left;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(25, 119, 25);
  text-decoration: none;
  padding: 1rem;
  margin-left: 9rem;
}

.title a:hover {
  background-color: rgb(157, 309, 217);
  border-radius: 10px;
}

.firstlanguagechosseopt label {
  font-size: 1.5rem;
  color: rgb(160, 130, 31);
  font-weight: 600;
}
.secondlanguagechosseopt label {
  font-size: 1.5rem;
  color: rgb(160, 130, 31);
  font-weight: 600;
}

button {
  margin: 30px 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(49, 158, 34);
  outline: hidden;
  border: 2px solid darkred;
  border-radius: 10px;
  width: 7rem;
}

textarea {
  font-weight: 600;
  text-transform: uppercase;

  border-radius: 5px;
}
